* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-wrapper {
  background-color: hsl(217, 19%, 24%);
  min-width: 315px;
  margin: auto;
}
