* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #f6f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}
.card-wrapper {
  /* min-width: 315px; */
  max-width: 315px;
  margin: auto;
  min-height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h2 {
  color: #222731;
}

.theme-wrapper {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.theme-wrapper h5 {
  color: #4b6a9b;
  text-transform: uppercase;
}

.theme-wrapper:hover h5 {
  color: #222731;
}

.theme-wrapper:hover img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(4%) saturate(3860%)
    hue-rotate(182deg) brightness(95%) contrast(89%);
}

form {
  position: relative;
  margin-top: 40px;
}

form img {
  position: absolute;
  left: 10px;
  bottom: 20px;
}

form p {
  position: absolute;
  right: 90px;
  bottom: 20px;
  font-size: 12px;
  font-weight: 700;
  color: red;
}

form button {
  position: absolute;
  bottom: 7px;
  right: 5px;
  border: none;
  border-radius: 10px;
  padding: 13px 15px;
  background-color: #0079ff;
  color: #f6f8ff;
  cursor: pointer;
}

form button:hover {
  background-color: #60abff;
}

form input {
  width: 100%;
  height: 60px;
  border-radius: 15px;
  outline: none;
  border: none;
  padding-left: 40px;
  color: #768fb3;
  background-color: #fefefe;
  box-shadow: 0px 5px 15px #a5abc0;
  cursor: pointer;
}

.info-container {
  background-color: #fefefe;
  padding: 20px;
  margin-top: 25px;
  box-shadow: 0px 5px 15px #a5abc0;
  border-radius: 15px;
}

.basic-info p {
  color: #6580a9;
  font-size: 14px;
}

.basic-info img {
  width: 75px;
  height: auto;
  border-radius: 50%;
}

.main-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 35px;
}

.main-info h3 {
  font-size: 16px;
}

.main-info div p:first-of-type {
  color: #3092ff;
}

.main-info div p:last-of-type {
  color: #8c9ab1;
}

.statistic-info {
  background-color: #f6f8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}

.statistic-info div {
  text-align: center;
}

.statistic-info div h5 {
  font-weight: 400;
  font-size: 11px;
  color: #6580a9;
}

.statistic-info div p {
  font-weight: 700;
  color: #2c3543;
}

.contact-info {
  margin-top: 20px;
}

.contact-info div:first-child {
  gap: 26px;
}

.contact-info div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.contact-info div p {
  font-size: 14px;
  color: #4b6a9b;
}

.contact-info p a {
  text-decoration: none;
  cursor: pointer;
  color: #4b6a9b;
}

.contact-info p a:hover {
  text-decoration: underline;
}
